{{trace "CPR-AMMO.HBS"}}
<li class="text-padding-left">{{localize (findConfigValue "ammoVariety" data.data.variety)}}</li>
<li class="text-padding-left">{{localize (findConfigValue "ammoType" data.data.type)}}</li>
{{trace "END CPR-AMMO.HBS"}}
