{{trace "CPR-SKILL.HBS"}}
<li class="text-padding-left">{{localize (findConfigValue "skillDifficulties" data.data.difficulty)}}</li>
<li class="text-padding-left">{{localize (findConfigValue "skillCategories" data.data.category)}}</li>
{{trace "END CPR-SKILL.HBS"}}
