{{#if data.data.isHeadLocation}}
<li class="text-padding-left">{{localize "CPR.global.location.head"}} {{localize "CPR.global.itemTypes.armor"}}</li>
{{/if}}
{{#if data.data.isBodyLocation}}
<li class="text-padding-left">{{localize "CPR.global.location.body"}} {{localize "CPR.global.itemTypes.armor"}}</li>
{{/if}}
