{{trace "CPR-CLOTHING.HBS"}}
<li class="text-padding-left">{{localize (findConfigValue "clothingStyle" data.data.style)}} {{localize (findConfigValue "clothingType" data.data.type)}}</li>
<li class="text-padding-left"></li>
{{trace "END CPR-CLOTHING.HBS"}}
