.chat-message.message.flexcol {
  font-family: "Audimat Mono";
  background : @chrome-white;
}

.rollcard-body {
  font-size : @font-normal;
  background: @chrome-white;
}

.rollcard-top {
  padding-bottom: 5px;
}

.rollcard-critinjury-icon { 
  width: 52px;
  height: 52px;
}

.rollcard-critinjury-data { 
  grid-area      : d6-data;
  display        : flex;
  padding-left: 5px;
  align-items: center;
}
.rollcard-subtitle {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: auto;
  grid-template-areas:
    "subtitle-left subtitle-center subtitle-right"
    "subtitle-2-left subtitle-2-center subtitle-2-right";
}

.rollcard-subtitle-left{
  grid-area: subtitle-left;
}

.rollcard-subtitle-center{
  grid-area: subtitle-center;
  justify-self: center;
}

.rollcard-subtitle-right{
  grid-area: subtitle-right;
}

.rollcard-subtitle-2-left{
  grid-area: subtitle-2-left;
}

.rollcard-subtitle-2-center{
  grid-area: subtitle-2-center;
  justify-self: center;
}

.rollcard-subtitle-2-right{
  grid-area: subtitle-2-right;
}

.rollcard {
  display              : grid;
  grid-template-columns: 270px;
  grid-template-rows   : auto;
}

.generic-rollcard-data,
.d10-rollcard-data {
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "d10-dice d10-number"
    "d10-data d10-data";
}

.generic-dice-div {
  grid-area      : d10-dice;
  display        : flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}

.d10-dice-div {
  grid-area      : d10-dice;
  display        : flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.generic-number-div,
.d10-number-div {
  grid-area : d10-number;
  min-height: 70px;
  text-align: right;
  font-size : @font-massive;
  padding-right: 5px;
}

.generic-data-div,
.d10-data-div {
  grid-area      : d10-data;
  display        : flex;
  flex-direction : column;
  text-align     : right;
  justify-content: flex-end;
  padding-right: 5px;
}


///
.d6-rollcard-data {
  display: grid;
  grid-template-columns: 175px auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "d6-dice d6-number"
    "d6-data d6-data";
}

.d6-dice-div {
  grid-area      : d6-dice;
  display        : flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.d6-number-div {
  grid-area : d6-number;
  min-height: 70px;
  text-align: right;
  font-size : @font-massive;
  padding-right: 5px;
}

.d6-data-div {
  grid-area      : d6-data;
  display        : flex;
  flex-direction : column;
  text-align     : right;
  justify-content: flex-end;
  padding-right: 5px;
}


.bottom-div {
  grid-area: rc-bottom;
}

.hide {
  display: none;
}

.d10 {
  height          : 70px;
  width           : 70px;
  display         : block;
  border: none;
  align-self: center;
  &-20 {
    height          : 20px;
    width           : 20px;
  }
  &-30 {
    height          : 30px;
    width           : 30px;
  }
}

.d6 {
  display         : block;
  border: none;
  align-self: center;
  &-20 {
    height          : 20px;
    width           : 20px;
  }
  &-30 {
    height          : 30px;
    width           : 30px;
  }
  &-40 {
    height          : 40px;
    width           : 40px;
  }
}

/*-------------------------
| Chat visibility design  |
-------------------------*/

.chat-mode-indicator {
  display: inline-block;
  margin: 0 3px 0 0;
  padding: 0 3px;
  line-height: 1rem;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

/*--------------------
  cpr-block element styling
---------------------*/

.cpr-block {
  background-color: @wyrm-red;
  position      : relative;
  display       : flex;
  flex-direction: column;
  padding       : 4px;
  clip-path       : polygon(0 15px,
      0 100%,
      100% 100%,
      100% 0,
      15px 0);

  &::before {
    position: absolute;
    height  : calc(100% - 8px);
    width   : calc(100% - 8px);
    top     : 4px;
    left    : 4px;

    content         : "";
    background-color: @chrome-white;
    clip-path       : polygon(0 14px,
        0 100%,
        100% 100%,
        100% 0,
        14px 0);
    z-index: -1;
  }
}