.chat-message.message.flexcol {
  font-family: "Audimat Mono";
  background : @chrome-white;
}

.rollcard-body {
  font-size : @font-normal;
  background: @chrome-white;
}

.rollcard-top {
  padding-bottom: 5px;
}

.rollcard {
  display              : grid;
  padding              : 15px;
  grid-template-columns: auto auto;
  grid-template-rows   : auto auto auto;
  grid-template-areas  :
    "rc-dice rc-total"
    "rc-dice rc-info"
    "rc-bottom rc-bottom";
}

.dice-div {
  grid-area      : rc-dice;
  display        : flex;
  flex-direction : column;
  flex-wrap      : wrap;
  justify-content: flex-start;
}

.total-div {
  grid-area : rc-total;
  min-height: 70px;
  text-align: right;
  font-size : @font-massive;

}

.info-div {
  grid-area      : rc-info;
  display        : flex;
  flex-direction : column;
  text-align     : right;
  //white-space: nowrap;
  justify-content: flex-end;
}

.bottom-div {
  grid-area: rc-bottom;
}

.d10 {
  height          : 70px;
  width           : 70px;
  display         : block;
  &.one {
    background-image: url("icons/dice/red/d10_1.png");
    &.black {
      background-image: url("icons/dice/black/d10_1.png");
    }
  }

  &.two {
    background-image: url("icons/dice/red/d10_2.png");
    &.black {
      background-image: url("icons/dice/black/d10_2.png");
    }
  }

  &.three {
    background-image: url("icons/dice/red/d10_3.png");
    &.black {
      background-image: url("icons/dice/black/d10_3.png");
    }
  }

  &.four {
    background-image: url("icons/dice/red/d10_4.png");
    &.black {
      background-image: url("icons/dice/black/d10_4.png");
    }
  }

  &.five {
    background-image: url("icons/dice/red/d10_5.png");
    &.black {
      background-image: url("icons/dice/black/d10_5.png");
    }
  }

  &.six {
    background-image: url("icons/dice/red/d10_6.png");
    &.black {
      background-image: url("icons/dice/black/d10_6.png");
    }
  }

  &.seven {
    background-image: url("icons/dice/red/d10_7.png");
    &.black {
      background-image: url("icons/dice/black/d10_7.png");
    }
  }

  &.eight {
    background-image: url("icons/dice/red/d10_8.png");
    &.black {
      background-image: url("icons/dice/black/d10_8.png");
    }
  }

  &.nine {
    background-image: url("icons/dice/red/d10_9.png");
    &.black {
      background-image: url("icons/dice/black/d10_9.png");
    }
  }

  &.ten {
    background-image: url("icons/dice/red/d10_10.png");
    &.black {
      background-image: url("icons/dice/black/d10_10.png");
    }
  }
}

/*--------------------
  cpr-block element styling
---------------------*/

.cpr-block {
  background-color: @wyrm-red;
  position      : relative;
  display       : flex;
  flex-direction: column;
  padding       : 4px;
  clip-path       : polygon(0 15px,
      0 100%,
      100% 100%,
      100% 0,
      15px 0);

  &::before {
    position: absolute;
    height  : calc(100% - 8px);
    width   : calc(100% - 8px);
    top     : 4px;
    left    : 4px;

    content         : "";
    background-color: @chrome-white;
    clip-path       : polygon(0 14px,
        0 100%,
        100% 100%,
        100% 0,
        14px 0);
    z-index: -1;
  }
}