.chat-message.message.flexcol {
  background: @chrome-white;
}

.rollcard-body {
  font-size: 16px;
  font-variant: small-caps;
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
    "dice dice dice info info info"
    "dice dice dice info info info"
    "dice dice dice info info info"
    "dice dice dice info info info"
    "dice dice dice total total total"
    "dice dice dice total total total";
  .dice-div {
    grid-area: dice;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;;

  }
  .total-div {
    grid-area: total
  }
  .info-div {
    grid-area: info;
    display: flex;
    flex-direction: column;
  }
  i {
    .d10.one {
      background: url("../icons/d10_1.png");
    }
  }

}