// flintwyrm's colors
@meat-space-pink: #ffc3b6ff;
@chrome-white: #eaeaeaff;
@holo-blue: #13ebf3ff;
@chip-in-yellow: #ffff3fff;
@flint-black: #2d2f2fff;
@wyrm-red: #b90202ff;
@ghetto-green: #609040ff;
@overdrive-orange: #DC8121ff;
@overcast-grey: #9e9f9fff;

/*--------------------
  Color modifiers
---------------------*/
.fg- {
    &black {
        color: @flint-black;
    }

    &white {
        color: @chrome-white;
    }

    &red {
        color: @wyrm-red;
    }

    &blue {
        color: @holo-blue;
    }

    &yellow {
        color: @chip-in-yellow;
    }

    &pink {
        color: @meat-space-pink;
    }

    &green {
        color: @ghetto-green;
    }

    &orange {
        color: @overdrive-orange;
    }

    &grey {
        color: @overcast-grey;
    }
}

.bg- {
    &black {
        background-color: @flint-black;
    }

    &white {
        background-color: @chrome-white;
    }

    &red {
        background-color: @wyrm-red;
    }

    &blue {
        background-color: @holo-blue;
    }

    &yellow {
        background-color: @chip-in-yellow;
    }

    &pink {
        background-color: @meat-space-pink;
    }

    &green {
        background-color: @ghetto-green;
    }
    &orange {
        background-color: @overdrive-orange;
    }
    &grey {
        color: @overcast-grey;
    }

}