.item-card-grid-container {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-template-areas:
        "item-card-icon item-card-header"
        "item-card-description item-card-description";
  }

  .item-card-icon { 
      grid-area: item-card-icon;
      width: 52px;
      height: 52px;
  }

  .item-card-description { 
      grid-area: item-card-description; 
  }

  .item-card-header {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "item-card-name"
      "item-card-type";
    grid-area: item-card-header;
  }
  
  .item-card-name { grid-area: item-card-name; }
  .item-card-type { grid-area: item-card-type; }
