form {
    .item-desc-body {
        display: flex;
        flex-direction: row;
        min-height: 100%;
        align-items: stretch;
        
    }

    .item-info-pane {
        display: flex;
        flex-direction: row;
        padding: 5px;
        .info-pane-item {
            min-width: 120px;
            padding: 2px;
            margin: 2px;
            background-color: @maximum-red;
            color: white;
        }
    }

    .item-header-flex-parent {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .item-icon {
        min-width: 64px;
        min-height: 64px;
        max-width: 64px;
        max-height: 64px;
    }
    .item-name {
      background-color: @maximum-red;
      height: 64px;
      width: 100%;
      color: white;
      font-size: 24pt;
      flex-grow: 2;
    }
  }