.sheet-content {
  // character sheet layout
  &.character {
    display: grid;
    grid-template-columns: 200px 50px 1fr;
    grid-template-rows: 
      30px 165px minmax(250px, 1fr) 300px;;
    grid-template-areas: 
      "image stats nav" 
      "image stats content"
      "main stats content"
      "combat combat combat"
      ;
    grid-gap: 5px;
    .image-container {
      grid-area: image;
      background-color: @meat-space-pink;
    }  
    .main-container {
      grid-area: main;
      background-color: @meat-space-pink;
    }  
    .stats-container {
      grid-area: stats;
      background-color: @meat-space-pink;
    }  
    .nav-container {
      grid-area: nav;
      background-color: @meat-space-pink;
    }  
    .content-container {
      grid-area: content;
      background-color: @meat-space-pink;
    }  
    .combat-container {
      grid-area: combat;
      background-color: @meat-space-pink;
    }

    // Image layout
    .image-container {

    }

    // Main layout
    .main-container {

    }

    // Stats layout
    .stats-container {

    }

    // Nav layout
    .nav-container {

    }

    // Combat layout
    .combat-container {
      z-index: 1;
    }
    
    // Layouts for individual content tabs
    .content-container {
      overflow: scroll;
      
    }
  }

  &.mook {
    //TODO
  }
}

// Main block element
.cpr-block {
  display: flex;
  flex-direction: column;
  &.horizontal {flex-direction: row;}

}

// Dynamic Lists
.dynamic-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .row {
    display: flex;
    justify-content: stretch;
    margin: 2px;
    padding: 2px;

    &.header {}

    .section {
      // flex: 1 0 auto;
      &.small {
        width: 12%;
      }
      &.grow {
        flex: 1 0 auto;
      }
    }
  }

  &.skills {
    .row {
      max-width: 300px
    }
  }
}

