// Actor Sheet
.sheet-content {
  font-family: "Audimat Mono";

  // Foundry over-rides
  img {
    border: none;
  }

  ;

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"] {
    border             : none;
    outline            : none;
    box-shadow         : none;
    width              : calc(100% - 2px);
    min-width          : unset;
    height             : unset;
    background         : unset;
    /* padding         : 1px 3px; */
    margin             : 0;
    color              : unset;
    font-family        : inherit;
    font-size          : inherit;
    text-align         : inherit;
    line-height        : inherit;
    -webkit-user-select: text;
    -moz-user-select   : text;
    -ms-user-select    : text;
    user-select        : text;
  }

  // gap                  : 5px;
  // grid-template-columns: max-content;
  // grid-template-areas  : "left right "
  // "bottom bottom ";

  .top-container {
    display  : flex;
    flex-wrap: nowrap;

    // display            : grid;
    // gap                : 5px;
    // grid-template-areas: "info stats ";
    .left-container {
      flex-basis : 280px;
      flex-shrink: 1;

      display  : flex;
      flex-wrap: nowrap;

      .info-container {}

      .stats-container {}
    }

    .right-container {
      flex-grow: 2;
    }

  }

  .bottom-container {}
}

.cpr-block {
  .portrait {
    height: 200px;
    width : 200px;

    img {
      height: 100%;
      width : 100%;
    }
  }

  .stat {
    position: relative;
    margin  : 5px;
    width   : 45px;
    height  : 35px;

    .stat-label {
      position : absolute;
      left     : 50%;
      transform: translateX(-50%);

      top: -2px;
    }

    .stat-value {
      position : absolute;
      left     : 50%;
      transform: translateX(-50%);

      top  : 16px;
      width: 100%;

      .stat-input {
        width : 100% !important;
        height: 19px;
      }

      .min-of-max-container {
        width   : 100%;
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        .stat-value-input {
          flex-grow: 1;
          height: 19px;
        }
        .of {
          position: relative;
          flex-basis: 10px;
          .of-divider {

          }
        }
        .stat-max-input {
          flex-grow: 1;
          height: 19px;
        }
      }
    }
  }
}


.flex-space-between {
  display        : flex;
  justify-content: space-between;
}

.width- {
  display        : flex;
  justify-content: space-around;
  flex           : 1 0 auto;

  &sixteenth {
    width: 6.25%;
  }

  &eighth {
    width: 12.5%;
  }

  &sixth {
    width: calc(100% / 6)
  }

  &quarter {
    width: 25%;
  }

  &third {
    width: calc(100% / 3);
  }

  &half {
    width: 50%;
  }

  &full {
    width: 100%;
  }

  &grow {
    flex-grow: 1;
  }

  &no-grow {
    flex-grow: 0;
  }

  &shrink {
    flex-shrink: 1;
  }

  &no-shrink {
    flex-shrink: 0;
  }

  &auto-basis {
    flex-basis: auto;
  }

  &fit {
    width  : fit-content;
    padding: 0 2px;
  }

  &max-half {
    max-width: 50%;
  }

  &max-quarter {
    max-width: 25%;
  }

  &max-eighth {
    max-width: 12.5%;
  }

  &max-three-quarters {
    max-width: 75%;
  }

  &max-third {
    max-width: calc(100%/3);
  }

  &max-two-thirds {
    max-width: calc((100%/3)*2);
  }
}

.text- {
  &rotate {
    transform: rotate(-90deg);
  }
}