.items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    .items-header {
//        height: 28px;
//        margin: 2px 0;
        padding: 0;
        align-items: center;
//        background: rgba(0, 0, 0, 0.05);
//        border: 2px groove #eeede0;
        //font-weight: bold;
        background-color: @flint-black;
        color: @chrome-white;
    }
    .item {
        align-items: center;
        padding: 0 2px;
    }
    .item-name {
        flex: 2;
        margin: 0;
        overflow: hidden;
//        font-size: 13px;
        text-align: left;
        align-items: center;
    }
    .item-image {
        flex: 0 0 30px;
  //      height: 30px;
  //      background-size: 30px;
        border: none;
        margin-right: 5px;
    }
    .item-detail {
        //flex: 0 0 30px;
    //    font-size: 12px;
        text-align: center;
   //     border-right: 1px solid #c9c7b8;
        word-break: break-word;
        white-space: nowrap;
        overflow: hidden;
    }
    li:nth-child(even) {
        background-color: @meat-space-pink;
    }
    li:nth-child(odd) {
        background-color: @chrome-white;
    }
}

.skills-tab {
    .skill-level,
    .skill-base,
    .skill-favorite {
        flex: 0 0 30px;
    }
}

.gear-tab {
    .gear-name,
    .gear-data {
        flex: 0 0 45%;
    }

    .gear-data {
        text-align: left;
    }
    .gear-actions {
        text-align: end;
    }
}

.role-tab {
    .role-name,
    .ability-name {
        flex: 0 0 25%;
    }

    .role-rank,
    .ability-rank {
        text-align: left;
    }
}

.fight-tab {
    .role-content,
    .armor-content,
    .weapons-content {
        padding-left: 11px;
    }
    
    .weapon-name {
        flex: 0 0 25%;
    }

    .weapon-attack,
    .weapon-damage {
        flex: 0 0 20px;
        text-align: center;
    }
}

ul, ol {
    margin: 0.5em 0;
    padding: 0 0 0 1.5em;
}

.hide {
    display:none;
}
