@font-face {
  font-family: "Papyrus";
  src: url("fonts/PAPYRUS.ttf");
}

.sheet-content {
    .image-container {
        background-color: @wyrm-red;
    }

    .main-container {
        background-color: @wyrm-red;
    }

    .stats-container {
        background-color: @wyrm-red;
    }

    .nav-container {
        background-color: @wyrm-red;
    }

    .content-container {
        background-color: @wyrm-red;
    }

    .bottom-container {
        background-color: @wyrm-red;
    }
}

/*--------------------
  Text modifiers
---------------------*/
.smallcaps {
    font-variant: small-caps;
}

.text- {
    &smallest {
        font-size: 0.5em;
    }

    &smaller {
        font-size: 0.7em;
    }

    &small {
        font-size: 0.8em;
    }

    &normal {
        font-size: 1em;
    }

    &large {
        font-size: 1.3em;
    }

    &larger {
        font-size: 1.7em;
    }

    &largest {
        font-size: 2em;
    }

    &massive {
        font-size: 4em;
    }

    &center {
        text-align: center;
    }

    &right {
        text-align: right;
    }

    &left {
        text-align: left;
    }

    &super {
        vertical-align: super;
    }

    &bold {
        font-weight: bold;
    }
}

/*--------------------
  Color modifiers
---------------------*/
.fg- {
    &black {
        color: @flint-black;
    }

    &white {
        color: @chrome-white;
    }

    &red {
        color: @wyrm-red;
    }

    &blue {
        color: @holo-blue;
    }

    &yellow {
        color: @chip-in-yellow;
    }

    &pink {
        color: @meat-space-pink;
    }

    &green {
        color: @ghetto-green;
    }
}

.bg- {
    &black {
        background-color: @flint-black;
    }

    &white {
        background-color: @chrome-white;
    }

    &red {
        background-color: @wyrm-red;
    }

    &blue {
        background-color: @holo-blue;
    }

    &yellow {
        background-color: @chip-in-yellow;
    }

    &pink {
        background-color: @meat-space-pink;
    }

    &green {
        background-color: @ghetto-green;
    }
}