// Overall Sheet Layout
.mook-sheet {
    font-family: "Audimat Mono";
    // Cyberpunk Red Core Sheet Styling

    // The basic sheet should be white
    background-color: @chrome-white;

    // Utilize grid for element placement on the sheet
    display: grid;

    // We want white borders between each element
    grid-gap: 5px;

    // grid-template-columns: 265px auto;
    // grid-template-rows   : auto auto;

    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "mook-stats"
        "mook-derived"
        "mook-gear"
        "mook-skills"
        "mook-special";

    .mook-stats {
        display: grid;
        grid-area: mook-stats; 
        grid-template-areas:
            "mook-int-stat mook-ref-stat mook-dex-stat mook-tech-stat mook-cool-stat"
            "mook-will-stat mook-luck-stat mook-move-stat mook-body-stat mook-emp-stat";
        .mook-int-stat { grid-area: mook-int-stat; }
        .mook-ref-stat { grid-area: mook-ref-stat; }
        .mook-dex-stat { grid-area: mook-dex-stat; }
        .mook-tech-stat { grid-area: mook-tech-stat; }
        .mook-cool-stat { grid-area: mook-cool-stat; }
        .mook-will-stat { grid-area: mook-will-stat; }
        .mook-luck-stat { grid-area: mook-luck-stat; }
        .mook-move-stat { grid-area: mook-move-stat; }
        .mook-body-stat { grid-area: mook-body-stat; }
        .mook-emp-stat { grid-area: mook-emp-stat; }
    }
    .mook-derived-stats {
        display: grid; 
        grid-area: mook-derived;
        grid-template-columns: 1fr 1fr 0.5fr;
        grid-template-areas:
            "mook-hp mook-wounded mook-deathsave";
        .mook-hp { grid-area: mook-hp; }
        .mook-wounded { grid-area: mook-wounded; }
        .mook-deathsave { grid-area: mook-deathsave; }
    }

    .mook-gear { 
        display: grid;
        grid-area: mook-gear;
        grid-template-areas: "mook-weapons mook-armor";
        .mook-weapons { grid-area: mook-weapons; }
        .mook-armor { grid-area: mook-armor; }
    }

    .mook-skills { grid-area: mook-skills; }
    .mook-special { grid-area: mook-special; }
}

// Section Specific CSS
.handle-block,
.hitpoint-block,
.deathsave-block,
.stat-block {
    font-size       : @font-normal;
    color           : @flint-black;
    background-color: @chrome-white;
}

.stat-block {
    height: 42px;
    width : 48px;
}

.main-block {
    height: 41px;
    width : 190px;
}

.block-label {
    font-weight: bold;
    text-align : center;
}

.block-data {
    text-align : center;
    font-weight: lighter;
}
