/*--------------------
  Text modifiers
---------------------*/
.smallcaps {
    font-variant: small-caps;
}


.text- {
    &smallest {
        font-size: @font-smallest;
    }

    &smaller {
        font-size: @font-smaller;
    }

    &small {
        font-size: @font-small;
    }

    &normal {
        font-size: @font-normal;
    }

    &large {
        font-size: @font-large;
    }

    &larger {
        font-size: @font-larger;
    }

    &largest {
        font-size: @font-largest;
    }

    &massive {
        font-size: @font-massive;
    }

    &center {
        text-align: center;
    }

    &right {
        text-align: right;
    }

    &nowrap {
        white-space: nowrap;
    }

    &left {
        text-align: left;
    }

    &super {
        vertical-align: super;
    }

    &bold {
        font-weight: bold;
    }
}

