@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFOhCneDtsqEr0keqCMhbCc_CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFO8CneDtsqEr0keqCMhbCc_Mn33tYg.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFOjCneDtsqEr0keqCMhbBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFO-CneDtsqEr0keqCMhbC-BL-Hy.ttf) format('truetype');
}
/* LESS HEX */
/* LESS Gradient */
/*--------------------
  Global Tweaks
---------------------*/
.app.window-app.sheet.sheet.actor {
  min-width: 600px;
  min-height: 770px;
}
.app.window-app.sheet.sheet.actor .window-resizable-handle {
  z-index: 10;
}
/*--------------------
  Main sheet content
---------------------*/
.sheet-content input,
.sheet-content p,
.sheet-content span,
.sheet-content select,
.sheet-content button,
.sheet-content a,
.sheet-content img {
  margin: 0;
  padding: 0;
  background: transparent;
  outline: 0;
  border: 0;
}
.sheet-content.character {
  display: grid;
  grid-template-columns: 200px 50px 1fr;
  grid-template-rows: 30px 165px minmax(300px, 1fr) 200px;
  grid-template-areas: "image stats nav" "image stats content" "main stats content" "combat combat combat";
  grid-gap: 5px;
}
.sheet-content.character .image-container {
  grid-area: image;
}
.sheet-content.character .main-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sheet-content.character .stats-container {
  grid-area: stats;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sheet-content.character .nav-container {
  grid-area: nav;
}
.sheet-content.character .nav-container nav {
  display: flex;
  flex: 1 0 auto;
}
.sheet-content.character .nav-container nav .navtab:hover {
  text-shadow: none;
}
.sheet-content.character .nav-container nav .navtab.active {
  color: #eaeaeaff;
  background: #b90202ff;
}
.sheet-content.character .content-container {
  grid-area: content;
}
.sheet-content.character .content-container .tab {
  min-height: 1000px;
}
.sheet-content.character .combat-container {
  grid-area: combat;
  z-index: 5;
}
.sheet-content.character .content-container {
  overflow: scroll;
}
/*--------------------
  cpr-block element
---------------------*/
.cpr-block {
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6px;
}
.cpr-block p,
.cpr-block span,
.cpr-block input {
  padding: 0;
  margin: 0;
}
.cpr-block::before {
  position: absolute;
  height: 52px;
  width: 192px;
  top: 4px;
  left: 4px;
}
.cpr-block .title {
  padding-left: 12px;
  display: flex;
  flex: 0;
  justify-content: center;
}
.cpr-block .title.double {
  justify-content: space-around;
}
.cpr-block .content {
  display: flex;
  justify-content: space-around;
  flex: 0;
}
.cpr-block .select {
  background: transparent;
  outline: 0;
  border: 0;
}
.cpr-block.stat {
  width: 50px;
  height: 50px;
}
.cpr-block.stat::before {
  position: absolute;
  height: 42px;
  width: 42px;
  top: 4px;
  left: 4px;
}
.cpr-block.image {
  height: 200px;
  width: 200px;
  padding: 0;
}
.cpr-block.image img {
  height: 192px;
  width: 192px;
  position: absolute;
  left: 4px;
  top: 4px;
}
.cpr-block.image::before {
  position: absolute;
  height: 192px;
  width: 192px;
  top: 4px;
  left: 4px;
}
.cpr-block.nav {
  height: 30px;
}
.cpr-block.nav::before {
  position: absolute;
  height: 22px;
  width: calc(100% - 8px);
  top: 4px;
  left: 4px;
}
.cpr-block.horizontal {
  flex-direction: row;
}
/*--------------------
  Dynamic Lists
---------------------*/
.dynamic-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.dynamic-list.col-1 {
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  grid-auto-flow: column;
}
.dynamic-list.col-2 {
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-auto-flow: column;
}
.dynamic-list.col-3 {
  display: grid;
  grid-template-rows: repeat(27, 1fr);
  grid-auto-flow: column;
}
.dynamic-list.col-4 {
  display: grid;
  grid-template-rows: repeat(19, 1fr);
  grid-auto-flow: column;
}
.dynamic-list .row {
  display: flex;
  justify-content: stretch;
  align-items: center;
  align-content: stretch;
  margin: 2px;
  padding: 2px;
  max-height: 20px;
}
.dynamic-list .row .section.small {
  width: 12%;
}
.dynamic-list .row .section.medium {
  width: 25%;
}
.dynamic-list .row .section.grow {
  flex: 1 0 auto;
}
.dynamic-list .row.hide {
  display: none;
}
/*--------------------
  Globals
---------------------*/
::-webkit-scrollbar {
  display: none;
}
.sheet-content {
  color: #2d2f2fff;
  background-color: #eaeaeaff;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-variant: small-caps;
}
/*--------------------
  Color modifiers
---------------------*/
.black-fg {
  color: #2d2f2fff;
}
.black-bg {
  background-color: #2d2f2fff;
}
.white-fg {
  color: #eaeaeaff;
}
.white-bg {
  background-color: #eaeaeaff;
}
.red-fg {
  color: #b90202ff;
}
.red-bg {
  background-color: #b90202ff;
}
.blue-fg {
  color: #13ebf3ff;
}
.blue-bg {
  background-color: #13ebf3ff;
}
.yellow-fg {
  color: #ffff3fff;
}
.yellow-bg {
  background-color: #ffff3fff;
}
.pink-fg {
  color: #ffc3b6ff;
}
.pink-bg {
  background-color: #ffc3b6ff;
}
/*--------------------
  Text modifiers
---------------------*/
.smallest-text {
  font-size: 0.5em;
}
.smaller-text {
  font-size: 0.7em;
}
.small-text {
  font-size: 0.9em;
}
.normal-text {
  font-size: 1em;
}
.large-text {
  font-size: 1.2em;
}
.larger-text {
  font-size: 1.5em;
}
.largest-text {
  font-size: 1.8em;
}
.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}
.bold {
  font-weight: bold;
}
/*--------------------
  cpr-block element styling
---------------------*/
.cpr-block {
  background-color: #b90202ff;
  clip-path: polygon(0 15px, 0 100%, 100% 100%, 100% 0, 15px 0);
}
.cpr-block::before {
  content: "";
  background-color: #eaeaeaff;
  clip-path: polygon(0 14px, 0 100%, 100% 100%, 100% 0, 14px 0);
  z-index: -1;
}
.cpr-block.stat {
  clip-path: polygon(0 16px, 0 100%, 100% 100%, 100% 0, 16px 0);
}
.cpr-block.stat .title {
  font-size: 0.8em;
}
.cpr-block.image img {
  clip-path: polygon(0 14px, 0 100%, 100% 100%, 100% 0, 14px 0);
}
form .item-desc-body {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  align-items: stretch;
}
form .item-info-pane {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
form .item-info-pane .info-pane-item {
  min-width: 120px;
  padding: 2px;
  margin: 2px;
  background-color: #d02b23;
  color: #ffffff;
}
form .item-header-flex-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
form .item-icon {
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
}
form .item-name {
  background-color: #d02b23;
  height: 64px;
  width: 100%;
  color: white;
  font-size: 24pt;
  flex-grow: 2;
}
.chat-rollCard .chat-rollTitle-stat {
  text-transform: capitalize;
}
.chat-rollCard .chat-rollTotal {
  font-weight: bold;
}
.chat-rollCard tr {
  vertical-align: top;
}
.chat-rollCard td {
  width: 50%;
}
.chat-rollCard td .chat-rollResult {
  text-align: center;
}
.chat-rollCard h1 {
  border-bottom: none;
}
form input.number {
  width: 30px;
}
.window-app .window-content {
  background: #eaeaeaff;
}
