{{cprTrace "START ITEM DESCRIPTION CPR-AMMO.HBS"}}
<div class="item-summary-line">
    <span class="summary-name">{{localize (cprFindConfigValue "ammoType" item.system.type)}} {{localize (cprFindConfigValue "ammoVariety" item.system.variety)}}</span>
</div>
<hr>
{{cprTrace "END CPR-AMMO.HBS"}}
