<form action="">
    <div>
        Roll Type: <input name="rollType" class="" type="number" data-dtype="Number" value="rollType">
    </div>
    <div>
        Roll Title: <input name="rollTitle" class="" type="number" data-dtype="Number" value="rollTitle" >
    </div>
    <div>
        Stat Value: <input name="statValue" class="" type="number" data-dtype="Number" value="statValue" >
    </div>
    <div>
        Skill Value: <input name="skillValue" class="" type="number" data-dtype="Number" value="skillValue" >
    </div>
    <div>
        Role Value: <input name="roleValue" class="" type="number" data-dtype="Number" value="roleValue">
    </div>    
    <div>
        Mods: <input name="mods" class="" type="number" data-dtype="Number" value="mods">
    </div>
    <div>
        Should Roll Criticals: <input name="calculateCritical" class="" type="number" data-dtype="Number" >
    </div>
</form>