{{trace "CPR-MOOK-NAME-PROMPT.HBS"}}
<form>
  <div>
    <ol class="items-list">
      <li class="item flexrow">
        <div class="item flexrow setting-name text-nowrap">
          Change Mook's Name:
        </div>
        <div class="item flexrow setting-value text-nowrap item-end">
          <input class="text-right" name="name" type="text" value="{{this}}" />
        </div>
      </li>
    </ol>
  </div>
</form>
{{trace "END CPR-MOOK-NAME-PROMPT.HBS"}}

