{{trace "CPR-IP-BLOCK.HBS"}}
<div class="handle-block main-block">
  <div class="block-label">
    {{localize "CPR.improvementpoints"}}
  </div>
  <div class="block-data">
    <input class="number ip-input"
      type="number"
      value="{{actor.data.improvementPoints.value}}"
    />
  </div>
</div>
{{trace "END CPR-IP-BLOCK.HBS"}}
