<div class="cpr-block">
  
  <div class="title large-text bold">
    <p>Humanity</p>
  </div>
  <div class="content largest-text center-text">
    <input  name="data.humanity.value" type="number" value="{{data.humanity.value}}" data-dtype="Number" />
    <input  name="data.humanity.max" type="number" value="{{data.humanity.max}}" data-dtype="Number" readonly />
  </div>
</div>