<div class="CPR-block resource">
  <p>Humanity</p>
  <div class="value">
    <input  name="data.humanity.value" type="number" value="{{data.humanity.value}}" data-dtype="Number" />
    <input  name="data.humanity.max" type="number" value="{{data.humanity.max}}" data-dtype="Number" />
  </div>
</div>