<div class="CPR-block resource">
  <p>
  <span style="float: left; padding-left: 10px" >State</span>
  <span>Death Save</span>
  </p>
  <div>
    {{log this}}
    <span>{{localize (findConfigValue "woundState" this.data.woundState.currentWoundState)}}</span>
    <input name="data.derivedStats.deathSave" type="number" value="{{data.derivedStats.deathSave}}" data-dtype="Number" />
  </div>
</div>
{{log "END CPR-DEATHSAVE-BLOCK.HBS"}}