{{log "CPR-ROLE-BLOCK.HBS"}}
<div class="CPR-block">
  <p>{{localize "CPR.role"}}</p>
  <select name="data.roleInfo.role">
    {{#select data.roleInfo.role}}
    {{#each (findConfigObj "roleList") as |name n|}}
    <option value="{{n}}">{{localize name}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>