<div class="block">
  <div class="unit">
    <p>Death Save</p>
      <div class="inputs">
        <input class="derived" name="data.derivedStats.deathSave" type="number" value="{{data.derivedStats.deathSave}}" data-dtype="Number" />
      </div>
    </div>
  </div>
</div>