{{log "CPR-ROLE-BLOCK.HBS"}}
<div class="cpr-block">
  <div class="title large-text bold">
    <p>{{localize "CPR.role"}}</p>
  </div>
  <select class="select larger-text" name="data.roleInfo.role">
    {{#select data.roleInfo.role}}
    {{#each (findConfigObj "roleList") as |name n|}}
    <option value="{{n}}">{{localize name}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>