<div class="cpr-block">
  <div class="title">
  <span>Death Save</span>
  <span>State</span>
  </div>
  <div class="content">
    {{log this}}
    <span>{{localize (findConfigValue "woundState" this.data.woundState.currentWoundState)}}</span>
    <input class="input number large" name="data.derivedStats.deathSave" type="number" value="{{data.derivedStats.deathSave}}" data-dtype="Number" />
  </div>
</div>
{{log "END CPR-DEATHSAVE-BLOCK.HBS"}}