{{log "CPR-ROLE-BLOCK.HBS"}}
<div class="cpr-block">
  <div class="title">
    <p>Role</p>
  </div>
  <select class="select" name="data.roleInfo.role">
    {{#select data.roleInfo.role}}
    {{#each (findConfigObj "roleList") as |name n|}}
    <option value="{{n}}">{{localize name}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>