{{log "CPR-INVENTORY.HBS"}}
<div class="tab-block">
  {{#each (findConfigObj "inventoryCategories") as |category c|}}
  <table>
    <tbody>
      {{!-- FOR EACH CATEGORY --}}
      {{> (generatePartial "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/cpr-VAR-inventory.hbs" c)}}

    </tbody>
  </table>
  {{/each}}
</div>
{{log "END CPR-INVENTORY.HBS"}}