<div class="block">
  <div class="unit mid-split">
    <p>Death Save</p>
    <div class="inputs">
      <input
        class="derived"
        name="data.derivedStats.deathSave.value"
        type="number"
        value="{{data.derivedStats.deathSave.value}}"
        data-dtype="Number"
      />
      <h1 class="derived">{{data.derivedStats.deathSave.max}}</h1>
    </div>
  </div>
</div>