<div class="cpr-block">
  
  <div class="title">
    <p>Humanity</p>
  </div>
  <div class="content">
    <input class="input number large" name="data.humanity.value" type="number" value="{{data.humanity.value}}" data-dtype="Number" readonly />
    <input class="input number large" name="data.humanity.max" type="number" value="{{data.humanity.max}}" data-dtype="Number" readonly />
  </div>
</div>