<div class="block">
  <div class="unit mid-split">
    <div class="humanity-block">
      <p>Humanity</p>
      <div class="inputs">
        <input class="derived" name="data.humanity.value" type="number" value="{{data.humanity.value}}" data-dtype="Number" />
        <input class="derived" name="data.humanity.max" type="number" value="{{data.humanity.max}}" data-dtype="Number" />
      </div>
    </div>
  </div>
</div>