{{log "CPR-INVENTORY.HBS"}}
<div class="dynamic-list inventory col-1">
  {{#each (findConfigObj "inventoryCategories") as |category c|}}
  {{> (generatePartial "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/headers/cpr-VAR-header.hbs"
  c)}}
  {{#each ../actor.items as |item i|}}
  {{#ifEquals item.type c}}
  {{> (generatePartial "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/content/cpr-VAR-content.hbs"
  c)}}
  {{/ifEquals}}
  {{/each}}
  {{/each}}
</div>
{{log "END CPR-INVENTORY.HBS"}}