{{log "CPR-ROLE-BLOCK.HBS"}}
<div class="cpr-block">
  <div class="fg-black bg-white text-large text-bold text-center">
     <a class="select-roles" data-item-prop="select-roles">{{localize "CPR.roles"}}<i class="fg-black text-smallest text-super fas fa-wrench"></i></a>
  </div>
  <div class="fg-black bg-white text-normal text-bold text-center">
    {{#each data.roleInfo.roles as |role|}}
      {{localize role}}
    {{/each}}
    </div>
</div>
{{log "END CPR-ROLE-BLOCK.HBS"}}