{{trace "CPR-SKILLS.HBS"}}
<div class="skills-tab">
    <ol class="left-pane-skills items-list">
        {{#each (findConfigObj "skillCategories") as |category c|}}
        {{#if (compare c "<" "f")}}
            {{> "systems/cyberpunk-red-core/templates/actor/parts/right-pane/parts/skills/cpr-skills-category.hbs"  (mergeForPartialArg "category,actor,sheet" c ../this.actor ../this)}}
        {{/if}}
        {{/each}}
    </ol>
    <ol class="right-pane-skills items-list">
        {{#each (findConfigObj "skillCategories") as |category c|}}
        {{#if  (compare c ">=" "f")}}
            {{> "systems/cyberpunk-red-core/templates/actor/parts/right-pane/parts/skills/cpr-skills-category.hbs"  (mergeForPartialArg "category,actor,sheet" c ../this.actor ../this)}}
        {{/if}}
        {{/each}}
    </ol>
</div>
{{trace "END CPR-SKILLS.HBS"}}
