{{cprTrace "CPR-CLOTHING.HBS"}}
<li class="text-padding-left">{{localize (cprFindConfigValue "clothingStyle" data.data.style)}} {{localize (cprFindConfigValue "clothingType" data.data.type)}}</li>
<li class="text-padding-left"></li>
{{cprTrace "END CPR-CLOTHING.HBS"}}
