{{trace "CPR-WEAPON.HBS"}}
<li class="text-padding-left">{{localize (findConfigValue "itemQuality" data.data.quality)}} {{localize "CPR.itemSheet.common.quality"}}</li>
{{trace "END CPR-WEAPON.HBS"}}
