{{cprTrace "CPR-WEAPON.HBS"}}
<li class="text-padding-left">{{localize (cprFindConfigValue "itemQuality" data.data.quality)}} {{localize "CPR.itemSheet.common.quality"}}</li>
{{cprTrace "END CPR-WEAPON.HBS"}}
