{{cprTrace "CPR-AMMO.HBS"}}
<li class="text-padding-left">{{localize (cprFindConfigValue "ammoVariety" data.data.variety)}}</li>
<li class="text-padding-left">{{localize (cprFindConfigValue "ammoType" data.data.type)}}</li>
{{cprTrace "END CPR-AMMO.HBS"}}
