{{cprTrace "CPR-SKILL.HBS"}}
<li class="text-padding-left">{{localize (cprFindConfigValue "skillDifficulties" data.data.difficulty)}}</li>
<li class="text-padding-left">{{localize (cprFindConfigValue "skillCategories" data.data.category)}}</li>
{{cprTrace "END CPR-SKILL.HBS"}}
