<li class="text-padding-left">{{localize (findConfigValue "objectTypes" data.data.type)}}</li>
<li class="text-padding-left">{{localize "CPR.itemSheet.itemUpgrade.installationSize"}}: {{data.data.size}}</li>
