{{#if data.data.isHeadLocation}}
<li class="text-padding-left">{{localize "CPR.head"}} {{localize "CPR.armor"}}</li>
{{/if}}
{{#if data.data.isBodyLocation}}
<li class="text-padding-left">{{localize "CPR.bodylocation"}} {{localize "CPR.armor"}}</li>
{{/if}}
