<li class="text-padding-left">{{localize (findConfigValue "skillDifficulties" data.difficulty)}}</li>
<li class="text-padding-left">{{localize (findConfigValue "skillCategories" data.category)}}</li>
