{{log "CPR-HITPOINT-BLOCK.HBS"}}

<div class="block">
  <div class="unit mid-split">
    <div class="hitpoint-block">
      <p>Hit Point</p>
      <div class="inputs">
        <input class="derived" name="data.derivedStats.hp.value" type="number" value="{{data.derivedStats.hp.value}}"
          data-dtype="Number" />
        <input class="derived" name="data.derivedStats.hp.max" type="number" value="{{data.derivedStats.hp.max}}"
          data-dtype="Number" />
      </div>
    </div>
  </div>
</div>
{{log "END CPR-HITPOINT-BLOCK.HBS"}}