{{log "CPR-HANDLE-BLOCK.HBS"}}
<div class="handle-block main-block">
  <div class="block-label">
    {{localize "CPR.handle"}}
  </div>
  <div class="block-data">
    <input class="text-lighter"
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="Handle"
    />
  </div>
</div>
{{log "END CPR-HANDLE-BLOCK.HBS"}}