{{log "CPR-HANDLE-BLOCK.HBS"}}
<div class="CPR-block">
  <p>{{localize "CPR.handle"}}</p>
  <input
    name="name"
    type="text"
    value="{{actor.name}}"
    placeholder="Handle"
  />
</div>
{{log "END CPR-HANDLE-BLOCK.HBS"}}