<div class="cpr-block">
  <div class="title">
    <span>Hit Points</span>
  </div>
  <div class="content">
    <input class="input number large" name="data.derivedStats.hp.value" type="number" value="{{data.derivedStats.hp.value}}"
      data-dtype="Number" />
    <input class="input number large" name="data.derivedStats.hp.max" type="number" value="{{data.derivedStats.hp.max}}"
      data-dtype="Number" readonly/>
  </div>
</div>