{{log "CPR-HANDLE-BLOCK.HBS"}}
<div class="cpr-block bg-white">
  <div class="title large-text bold">
    {{localize "CPR.handle"}}
  </div>
  <div class="content larger-text">
    <input 
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="Handle"
    />
  </div>
</div>
{{log "END CPR-HANDLE-BLOCK.HBS"}}