{{log "CPR-IMAGE-BLOCK.HBS"}}
<div class="cpr-block">
  <div class="fg-black bg-white triangle-corner">
  <img
    src="{{actor.img}}"
    data-edit="img"
    title="{{actor.name}}"
  />
  </div>
</div>
{{log "END CPR-HITPOINT-BLOCK.HBS"}}