<div class="block">
  <div class="unit">
    <p>Humanity</p>
    <div class="inputs">
      <input
        class="current"
        name="data.humanity.value"
        type="number"
        value=""
        data-dtype="Number"
      />
      <input
        class="max"
        name="data.humanity.max"
        type="number"
        value=""
        data-dtype="Number"
      />
    </div>
  </div>
</div>
<div class="block">
  <div class="unit">
    <p>Hit Points</p>
    <div class="inputs">
      <input
        class="current"
        name="data.hitpoints.value"
        type="number"
        value=""
        data-dtype="Number"
      />
      <input
        class="max"
        name="data.hitpoints.max"
        type="number"
        value=""
        data-dtype="Number"
      />
    </div>
  </div>
</div>
