<div class="cpr-block">
  <div class="title">
    <p>Hit Points</p>
  </div>
  <div class="content">
    <input class="input number" name="data.derivedStats.hp.value" type="number" value="{{data.derivedStats.hp.value}}"
      data-dtype="Number" />
    <input class="input number" name="data.derivedStats.hp.max" type="number" value="{{data.derivedStats.hp.max}}"
      data-dtype="Number" readonly/>
  </div>
</div>