{{log "CPR-HANDLE-BLOCK.HBS"}}
<div class="cpr-block">
  <div class="fg-black bg-white text-large text-bold text-center">
    {{localize "CPR.handle"}}
  </div>
  <div class="fg-black bg-white text-normal text-center">
    <input 
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="Handle"
    />
  </div>
</div>
{{log "END CPR-HANDLE-BLOCK.HBS"}}