{{log "CPR-HANDLE-BLOCK.HBS"}}
<div class="cpr-block">
  <div class="title">
    <p>Handle</p>
  </div>
  <input
    class="input text large"
    name="name"
    type="text"
    value="{{actor.name}}"
    placeholder="Handle"
  />
</div>
{{log "END CPR-HANDLE-BLOCK.HBS"}}