<div class="CPR-block resource">
  <p>{{localize "CPR.hitpoints"}}</p>
  <div class="inputs">
    <input class="derived" name="data.derivedStats.hp.value" type="number" value="{{data.derivedStats.hp.value}}"
      data-dtype="Number" />
    <input class="derived" name="data.derivedStats.hp.max" type="number" value="{{data.derivedStats.hp.max}}"
      data-dtype="Number" />
  </div>
</div>