<div class="image-block">
  <img
  src="{{actor.img}}"
  data-edit="img"
  title="{{actor.name}}"
  height="300"
  />
</div>


<div class="info-block">
  <div class="block">
    <div class="unit">
      <p>Handle</p>
      <div class="inputs">
        <input
          name="name"
          type="text"
          value=""
          placeholder="Name"
        />
      </div>
    </div>
  </div>
  <div class="block">
    <div class="unit">
      <p>Role</p>
      <div class="inputs">
        <input
          name=""
          type="text"
          value=""
          placeholder="Name"
        />
      </div>
    </div>
  </div>
  <div class="block">
    <div class="unit">
      <p>Ability</p>
      <div class="inputs">
        <input
          name=""
          type="text"
          value=""
          placeholder="Name"
        />
        <input
          class="rank"
          class="num-input"
          name=""
          type="number"
          value=""
          data-dtype="Number"
        />
      </div>
    </div>
  </div>
</div>

