<div class="cpr-block bar out-of">
  <div class="title large-text bold">
    <span>Hit Points</span>
  </div>
  <div class="content largest-text center-text">
    <input name="data.derivedStats.hp.value" type="number" value="{{data.derivedStats.hp.value}}"
      data-dtype="Number" />
    <input name="data.derivedStats.hp.max" type="number" value="{{data.derivedStats.hp.max}}"
      data-dtype="Number" readonly/>
  </div>
</div>