{{log "CPR-HANDLE-BLOCK.HBS"}}
<div class="block">
  <div class="unit">
    <p>Handle</p>
    <div class="inputs">
      <input
        name="name"
        type="text"
        value="{{actor.name}}"
        placeholder="Handle"
      />
    </div>
  </div>
</div>
{{log "END CPR-HANDLE-BLOCK.HBS"}}