{{log "CPR-INSTALL-GLYPH.HBS"}}
<a class="install-remove-cyberware" data-item-prop="data.isInstalled"><i class="fas fa-microchip icon-button" title="Install"></i></a>
{{log "END CPR-INSTALL-GLYPH.HBS"}}