{{trace "CPR-DV-GLYPH.HBS"}}
{{#if (compare data.data.dvTable "!==" "")}}
    <a class="item-action" data-item-id="{{data._id}}" data-action="measure-dv"><i class="fas fa-ruler" title="{{localize "CPR.global.sheets.actions.measureDv"}}"></i></a>
{{/if}}
{{trace "END CPR-DV-GLYPH.HBS"}}
