{{cprTrace "START ACTOR PARTS COMMON ACTIONS CPR-SNORT-GLYPH.HBS"}}
<a class="item-action" data-item-id="{{id}}" data-action-type="snort"><i class="fas fa-pills" title="{{localize "CPR.global.generic.snort"}}"></i></a>
{{cprTrace "END CPR-SNORT-GLYPH.HBS"}}
