{{cprTrace "CPR-INSTALL-PROGRAMS-GLYPH.HBS"}}
<a class="program-install" data-item-id="{{this._id}}"><i class="fas fa-sign-in-alt" title="{{localize "CPR.global.generic.install"}}"></i></a>
{{cprTrace "END CPR-INSTALL-PROGRAMS-GLYPH.HBS"}}
