{{cprTrace "CPR-DV-GLYPH.HBS"}}
{{#if (cprCompare system.dvTable "!==" "")}}
    <a class="item-action" data-item-id="{{item._id}}" data-action="measure-dv"><i class="fas fa-ruler" title="{{localize "CPR.actorSheets.commonActions.measureDv"}}"></i></a>
{{/if}}
{{cprTrace "END CPR-DV-GLYPH.HBS"}}
