{{cprTrace "CPR-UNINSTALL-GLYPH.HBS"}}
<a class="install-remove-cyberware" data-item-prop="system.isInstalled"><i class="fas fg-red fa-microchip icon-button" title={{localize "CPR.actorSheets.commonActions.uninstall"}}></i></a>
{{cprTrace "END CPR-UNINSTALL-GLYPH.HBS"}}
