{{log "CPR-RELOAD-GLYPH.HBS"}}
{{#if (compare data.magazine.value "<" data.magazine.max)}}
    {{#if (ne data.magazine.ammoId "")}}
        <a class="item-action" data-item-id="{{_id}}" data-action="reload-ammo"><i class="fas fa-redo-alt" title="Reload"></i></a>
    {{/if}}
{{/if}}
<a class="item-action" data-item-id="{{_id}}" data-action="new-ammo"><i class="fas fa-exchange-alt" title="Change Ammo"></i></a>
{{log "END CPR-RELOAD-GLYPH.HBS"}}