{{trace "CPR-INSTALL-PROGRAMS-GLYPH.HBS"}}
<a class="program-install" data-item-id="{{data._id}}"><i class="fas fa-sign-in-alt" title="{{localize "CPR.install"}}"></i></a>
{{trace "END CPR-INSTALL-PROGRAMS-GLYPH.HBS"}}
