{{trace "CPR-UPGRADE-GLYPH.HBS"}}
<a class="item-action" data-item-id="{{id}}" data-action-type="upgrade"><i class="fab fa-superpowers" title="{{localize "CPR.manageupgrades"}}"></i></a>
{{trace "END CPR-UPGRADE-GLYPH.HBS"}}
