{{log "CPR-DV-GLYPH.HBS"}}
{{#if (compare data.dvTable "!==" "")}}
    <a class="item-action" data-item-id="{{_id}}" data-action="measure-dv"><i class="fas fa-ruler" title="Measure DV"></i></a>
{{/if}}
{{log "END CPR-DV-GLYPH.HBS"}}