{{trace "CPR-INSTALL-GLYPH.HBS"}}
<a class="install-remove-cyberware" data-item-prop="data.isInstalled"><i class="fas fg-red fa-microchip icon-button" title="Uninstall"></i></a>
{{trace "END CPR-INSTALL-GLYPH.HBS"}}