{{trace "CPR-INSTALL-GLYPH.HBS"}}
<a class="install-remove-cyberware" data-item-prop="data.isInstalled"><i class="fas fa-microchip icon-button" title="{{localize "CPR.install"}}"></i></a>
{{trace "END CPR-INSTALL-GLYPH.HBS"}}