{{cprTrace "CPR-INSTALL-CYBERWARE-GLYPH.HBS"}}
<a class="install-remove-cyberware" data-item-prop="system.isInstalled"><i class="fas fa-microchip icon-button" title="{{localize "CPR.global.generic.install"}}"></i></a>
{{cprTrace "END CPR-INSTALL-CYBERWARE-GLYPH.HBS"}}
