{{cprTrace "CPR-UPGRADE-GLYPH.HBS"}}
<a class="item-action" data-item-id="{{id}}" data-action-type="upgrade"><i class="fab fa-superpowers" title="{{localize "CPR.actorSheets.commonActions.manageUpgrades"}}"></i></a>
{{cprTrace "END CPR-UPGRADE-GLYPH.HBS"}}
