{{log "CPR-INSTALL-GLYPH.HBS"}}
<a class="install-remove-cyberware" data-item-prop="data.isInstalled"><i class="fas red-fg fa-microchip icon-button" title="Uninstall"></i></a>
{{log "END CPR-INSTALL-GLYPH.HBS"}}