<div class="skills-tab">
    {{log "SKILLS TAB"}}
    {{log this}}
    <div class="left-pane-skills">
        {{#each (findConfigObj "skillCategories") as |category c|}}
        {{#if (compare c "<" "f")}}
            {{> "systems/cyberpunk-red-core/templates/actor/parts/common/skills/cpr-skills-pane.hbs"  (mergeForPartialArg "category,actor" c ../this.actor)}}
        {{/if}}
        {{/each}}
    </div>
    <div class="right-pane-skills">
        {{#each (findConfigObj "skillCategories") as |category c|}}
        {{#if  (compare c ">=" "f")}}
            {{> "systems/cyberpunk-red-core/templates/actor/parts/common/skills/cpr-skills-pane.hbs"  (mergeForPartialArg "category,actor" c ../this.actor)}}
        {{/if}}
        {{/each}}
    </div>
</div>