{{log "CPR-INFORMATION-BLOCK.HBS"}}
<div class="pad-left editor">
   {{editor content=data.information.notes target="data.information.notes" button=true owner=owner editable=editable}}
</div>
{{log "END CPR-INFORMATION-BLOCK.HBS"}}