<div class="fight-tab">
    <div class="injuries tab-label">
        {{localize "CPR.criticalinjuries"}}
    </div>
    <div class="armor tab-label">
        {{localize "CPR.armor"}}
    </div>
    <div class="weapons tab-label">
        {{localize "CPR.weapons"}}
    </div>
</div>