<form>
  {{!-- Sheet Header --}}
    <header class="">
        <img class="" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
        <section class="horz-container">
          <div class="stat-label">
            STAT
          </div>
          <div class="stat-label">
            STAT
          </div>
          <div class="stat-label">
            STAT
          </div>
          <div class="stat-label">
            STAT
          </div>
          <div class="stat-label">
            STAT
          </div>
          <div class="stat-label">
            STAT
          </div>
          <div class="stat-label">
            STAT
          </div>
          <div class="stat-label">
            STAT
          </div>
          <div class="stat-label">
            STAT
          </div>
        </section>
        <section class="horz-container">
          <div class="">
            SOME OTHER DIV
          </div>
        </section>
    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="tabs" data-group="primary">
        <a class="" data-tab="skills">SKILLS</a>
        <a class="" data-tab="combat">COMBAT</a>
        <a class="" data-tab="cyberware">CYBERWARE</a>
        <a class="" data-tab="inventory">INVENTORY</a>
        <a class="" data-tab="info">INFO</a>
    </nav>

    {{!-- Character Sheet Body --}}
    <section class="content">
        {{!-- Inventory Tab --}}
        <div class="tab" data-group="primary" data-tab="skills">
          SKILLS TAB
        </div>
        <div class="tab" data-group="primary" data-tab="combat">
          WOMBAT TAB
        </div>
        <div class="tab" data-group="primary" data-tab="cyberware">
          CYBERWARE TAB
        </div>
        <div class="tab" data-group="primary" data-tab="inventory">
          INV TAB
        </div>
        <div class="tab" data-group="primary" data-tab="info">
          INFO TAB
        </div>
    </section>
</form>