<form>
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="top-block">
      {{!-- IMAGE --}}
      <div class="image-block">
        <img
          src="{{actor.img}}"
          data-edit="img"
          title="{{actor.name}}"
        />
      </div>
      {{!-- HANDLE --}}
      {{!-- ROLE --}}
      {{!-- ABILITY --}}
      <div class="info-block">
        <div class="block">
          <div class="unit">
            <p>Handle</p>
            <div class="inputs">
              <input
                name=""
                type="text"
                value=""
                placeholder="Handle"
              />
            </div>
          </div>
        </div>
        <div class="block">
          <div class="unit">
            <p>Role</p>
            <div class="inputs">
              <input
                name=""
                type="text"
                value=""
                placeholder="Role"
              />
            </div>
          </div>
        </div>
        <div class="block">
          <div class="unit right-split">
            <p>Ability</p>
            <div class="inputs">
              <input
                name=""
                type="text"
                value=""
                placeholder="Ability"
              />
              <input
                class="rank"
                name=""
                type="number"
                value=""
                data-dtype="4"
              />
            </div>
          </div>
        </div>
      </div>
      {{!-- HITPOINTS --}}
      <div class="derived-stats">
        <div class="block">
          <div class="unit mid-split">
            <p>Humanity</p>
            <div class="inputs">
              <input
                class="derived"
                name=""
                type="number"
                value=""
                data-dtype="Number"
              />
              <input
                class="derived"
                name=""
                type="number"
                value=""
                data-dtype="Number"
              />
            </div>
          </div>
        </div>
        {{!-- HUMANITY --}}
        <div class="block">
          <div class="unit mid-split">
            <p>Hit Points</p>
            <div class="inputs">
              <input
                class="derived"
                name=""
                type="number"
                value=""
                data-dtype="Number"
              />
              <input
                class="derived"
                name=""
                type="number"
                value=""
                data-dtype="Number"
              />
            </div>
          </div>
        </div>
        {{!-- DEATH SAVE --}}
        <div class="block">
          <div class="unit mid-split">
            <p>Death Save</p>
            <div class="inputs">
              <input
                class="derived"
                name=""
                type="number"
                value=""
                data-dtype="Number"
              />
              <input
                class="derived"
                name=""
                type="number"
                value=""
                data-dtype="Number"
              />
            </div>
          </div>
        </div>
      </div>  
    </div>
    {{!-- STATS --}}
    <div class="stat-block">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-stat-block.hbs"}} 
    </div>

    
  </header>
  

  {{!-- Character Sheet Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="" data-tab="skills">SKILLS</a>
    <a class="" data-tab="role">ROLE</a>
    <a class="" data-tab="combat">COMBAT</a> {{!-- Should be movied to main body --}}
    <a class="" data-tab="inventory">INVENTORY</a>
    <a class="" data-tab="cyberware">CYBERWARE</a>
    <a class="" data-tab="information">INFO</a>
  </nav>

  {{!-- Character Sheet Body --}}
  <div class="content">
    <div class="tab" data-group="primary" data-tab="skills">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-skills.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="role">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-role.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="combat">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-combat.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="inventory">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-inventory.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="cyberware">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-cyberware.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="information">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-information.hbs"}}
    </div>
  </div>
</form>