<form>
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="top-block">
      <div class="info-block">
        {{!-- IMAGE --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-image-block.hbs"}}
        {{!-- HANDLE --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-handle-block.hbs"}}
      </div>
      <div class="role-block">
        {{!-- ROLE --}}{{!-- ABILITY --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-role-block.hbs"}}
      </div>
      <div class="derived-block">
        {{!-- HITPOINTS --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-hitpoint-block.hbs"}}
        {{!-- HUMANITY --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-humanity-block.hbs"}}
        {{!-- DEATH SAVE --}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-deathsave-block.hbs"}}
      </div>  
    </div>
    {{!-- STATS --}}
    <div class="stats-block">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-stat-block.hbs"}}
    </div>
  </header>


  {{!-- Character Sheet Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="" data-tab="skills">SKILLS</a>
    <a class="" data-tab="role">ROLE</a>
    <a class="" data-tab="combat">COMBAT</a> {{!-- Should be movied to main body --}}
    <a class="" data-tab="inventory">INVENTORY</a>
    <a class="" data-tab="cyberware">CYBERWARE</a>
    <a class="" data-tab="information">INFO</a>
    <a class="" data-tab="debug">DEBUG</a>
  </nav>

  {{!-- Character Sheet Body --}}
  <div class="content">
    <div class="tab" data-group="primary" data-tab="skills">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-skills.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="role">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-role.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="combat">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-combat.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="inventory">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-inventory.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="cyberware">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-cyberware.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="information">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-information.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="debug">
      {{> "systems/cyberpunk-red-core/templates/actor/parts/cpr-item-debug.hbs"}}
    </div>
  </div>
</form>