{{!-- New Layout --}}
{{trace "CPR-MOOK-SHEET.HBS"}}
<form>
  <div class="mook-sheet">
    <div class="mook-stats bg-red">
      {{> "systems/cyberpunk-red-core/templates/actor/cpr-mook-stats.hbs"}}
    </div>
    <div class="mook-derived-stats bg-red">
      <div class="mook-hp">
        hp
      </div>
      <div class="mook-wounded">
        wounded state
      </div>
      <div class="mook-deathsave">
        deathsave
      </div>
    </div>
    <div class="mook-gear">
      <div class="mook-weapons">
        weapons
      </div>
      <div class="mook-armor">
        armor
      </div>
    </div>
    <div class="mook-skills">
      skill list
    </div>
    <div class="mook-special">
      special stuff
    </div>
   </div>
</form>
{{trace "END CPR-MOOK-SHEET.HBS"}}