{{log "CPR-WEAPON-INV-HEADER.HBS"}}
<div class="row header black-bg white-fg">
    <span class="section medium ">{{localize this}}</span>
    <span class="section medium ">Seats</span>
    <span class="section medium ">Speed (Standard/Combat)</span>
    <span class="section medium ">Action</span>
</div>
{{log "CPR-WEAPON-INV-HEADER.HBS"}}