<div class="row header black-bg white-fg">
    <span class="section medium">{{localize this}}</span>
    <span class="section medium"></span>
    <span class="section medium"></span>
    <span class="section medium"></span>
</div>