{{log "CPR-WEAPON-INV-HEADER.HBS"}}
<div class="row header black-bg white-fg">
    <span class="section medium ">{{localize this}}</span>
    <span class="section medium">Type</span>
    <span class="section medium">Magazine</span>
    <span class="section medium">Action</span>
</div>
{{log "CPR-WEAPON-INV-HEADER.HBS"}}