<div class="row row-header inventory">
    <span class="row-section">{{localize this}}</span>
    <span class="row-section">{{localize "CPR.protection"}}</span>
    <span class="row-section"></span>
    <span class="row-section">{{localize "CPR.actions"}}</span>
</div>