<div class="row header black-bg white-fg inventory">
  <span class="section medium">{{localize this}}</span>
  <span class="section medium">Variety</span>
  <span class="section medium">Type</span>
  <span class="section medium">Action</span>
</div>