<div class="row row-header inventory">
    <span class="row-section inventory-name">{{localize this}}</span>
    <span class="row-section inventory-data">Data</span>
    <span class="row-section inventory-action">Action</span>
</div>