{{log "CPR-WEAPON-INV-HEADER.HBS"}}
<tr class="header">
    <td class="header">{{localize this}}</td>
    <td class="header">Type</td>
    <td class="header">Magazine</td>
    <td class="header">Action</td>
</tr>
{{log "CPR-WEAPON-INV-HEADER.HBS"}}