<div class="row row-header inventory">
    <span class="row-section">{{localize this}}</span>
    <span class="row-section">Variety</span>
    <span class="row-section">Type</span>
    <span class="row-section">Action</span>
</div>