{{log "CPR-WEAPON-INV-HEADER.HBS"}}
<tr class="header">
    <td class="header">{{localize this}}</td>
    <td class="header">Seats</td>
    <td class="header">Speed (Standard/Combat)</td>
    <td class="header">Action</td>
</tr>
{{log "CPR-WEAPON-INV-HEADER.HBS"}}