<tr class="header">
    <td class="header">{{localize this}}</td>
    <td class="header">{{localize "CPR.Details"}}</td>
    <td class="header"></td>
    <td class="header">{{localize "CPR.Actions"}}</td>
</tr>