<section class="item-header-flex-parent">
    <img src="{{item.img}}" class="item-icon" data-edit="img"/>
    <input name="name" class="item-name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}">
</section> 