<section class="cpr-block fit horizontal largest-text center-text margin-bottom">
    <img src="{{item.img}}" class="cpr-block image small" data-edit="img"/>
    <div class="container-center">
      <input name="name" class="item-name smallcaps" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" style="height: 100%">
    </div>
</section> 