<div class="item-info-pane">
    {{!-- IS PHYSICAL ITEM? ---}}
    <div class="info-pane-item">
        Category: {{data.category}}
    </div>
    <div class="info-pane-item">
        Stat: {{data.stat}}
    </div>
    <div class="info-pane-item">
        Difficulty: {{data.difficulty}}
    </div>
    <div class="info-pane-item">
        Basic: {{data.basic}}
    </div>
</div>