<div class="item-info-pane">
    {{!-- IS PHYSICAL ITEM? ---}}
    <div class="info-pane-item">
        Cost: {{data.price.market}}
    </div>
    <div class="info-pane-item">
        SP: {{data.sp}}
    </div>
    <div class="info-pane-item">
        Ablation: 0
    </div>
    <div class="info-pane-item">
        Penalty: {{data.armorpen}}
    </div>
</div>