            <td class="item inventory-center">COVERAGE LOCATION</td>
            <td class="item inventory-center">SP VALUE</td>
            <td class="item inventory-center">{{> "systems/cyberpunk-red-core/templates/actor/parts/common/cpr-equip-glyph.hbs"}}</td>