{{log "CPR-WEAPON-INV-HEADER.HBS"}}
{{log this}}
<tr class="header">
    <td class="header">{{localize this}}</td>
    <td class="header">Type</td>
    <td class="header">Loadout</td>
    <td class="header">Action</td>
</tr>
{{log "CPR-WEAPON-INV-HEADER.HBS"}}