{{!-- Gear Item Settings--}}

<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.global.generic.amount"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="data.amount" class="" type="number" value="{{data.data.amount}}" placeholder="10">
    </div>
</li>
