<form>
    <div class="item-settings-tab">
        <div class="item-settings-section">
            <ol class="items-list">

                {{!-- Physical Item Settings--}}
                {{> "systems/cyberpunk-red-core/templates/item/parts/settings/common/cpr-physical-item.hbs" this}}

                {{!-- Gear Item Settings--}}

            </ol>
        </div>
    </div>
</form>