<li class="item flexrow">
    {{log "ITEM NAME"}}
    {{log this}}
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.name"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        <input name="name" class="" type="text" value="{{item.name}}">
    </div>
</li>
