<li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
        {{localize "CPR.name"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
        {{#if this.editable}}
        <input name="name" class="" type="text" value="{{item.name}}">
        {{else}}
        <span class="text-flex-end">{{item.name}}</span>
        {{/if}}
    </div>
</li>
