{{log "CPR-INSTALL-GLYPH.HBS"}}
{{log this}}
{{#unless this.data.isInstalled}}
<a class="install" data-item-prop="data.isInstalled"><i class="fas fa-microchip icon-button" title="Install"></i></a>
{{/unless}}
{{log "END CPR-INSTALL-GLYPH.HBS"}}