{{log "CPR-INSTALL-GLYPH.HBS"}}
{{log this}}
{{#unless this.data.isInstalled}}
<a class="action-icon"><i class="fas fa-microchip install icon-button" title="Install"></i></a>
{{/unless}}
{{log "END CPR-INSTALL-GLYPH.HBS"}}