{{log "CPR-RELOAD-GLYPH.HBS"}}
{{#if (lt item.data.magazine.value item.data.magazine.max)}}
    {{#if (ne item.data.magazine.ammoId "")}}
        <a class="item-action" data-item-id="{{item._id}}" data-action="reload-ammo"><i class="fas fa-redo-alt" title="Reload"></i></a>
    {{/if}}
{{/if}}
<a class="item-action" data-item-id="{{item._id}}" data-action="new-ammo"><i class="fas fa-exchange-alt" title="Change Ammo"></i></a>
{{log "END CPR-RELOAD-GLYPH.HBS"}}