{{log "CPR-ACTIONS.HBS"}}
{{#if (eq item.type "weapon")}}
    {{!-- LOAD/RELOAD ACTION --}}
    {{#if item.data.isRanged}}
        {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-reload-glyph.hbs"}}
    {{/if}}
    {{!-- CONCEAL ACTION --}}
    {{#if item.data.concealable}}
        <i class="fas fa-eye-slash" title="Toggle Conceal"></i>
    {{/if}}
    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-equip-glyph.hbs"}}
{{/if}}
{{#if (eq item.type "cyberware")}}
    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-install-glyph.hbs"}}
{{/if}}
{{#if (eq item.type "armor")}}
    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-repair-glyph.hbs"}}
    {{> "systems/cyberpunk-red-core/templates/actor/parts/common/inventory/actions/cpr-equip-glyph.hbs"}}
{{/if}}
{{!-- ITEM MANAGEMENT --}}
<a class="item-action" data-action-type="delete"><i class="fas fa-trash-alt red-fg" title="Delete Item"></i></a>
{{log "END CPR-ACTIONS.HBS"}}
