<form>
  {{!-- Ammo Header Navigation --}}
  {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-header.hbs"}}
  {{!-- Ammo Sheet Navigation --}}
  <nav class="tabs" data-group="primary">
    <a class="" data-tab="description">DESCRIPTION</a>
    <a class="" data-tab="details">DETAILS</a>
  </nav>

  {{!-- Ammo Sheet Body --}}
  <section class="content">
    {{!-- Inventory Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-description.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="details">
      <section class="">
        Price: <input data.price.market="price-market" class="" type="text" value="{{data.price.market}}"
          placeholder="50">
        <label for="variety">Choose an Ammunition Variety</label>
        <select name="variety" id="variety">
          <option value="medpistol">Medium Pistol</option>
          <option value="hvypistol">Heavy Pistol</option>
          <option value="vhvpistol">V. Heavy Pistol</option>
          <option value="shotslug">Shotgun Slug</option>
          <option value="shotshell">Shotgun Shell</option>
          <option value="rifleround">Rifle Round</option>
          <option value="arrow">Arrow</option>
          <option value="grenade">Grenade</option>
          <option value="rocket">Rocket</option>
        </select>
      </section>
    </div>
  </section>
</form>
