<form>
  {{!-- Item Header Navigation --}}
  {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-header.hbs"}}
  {{!-- Item Sheet Navigation --}}
  <nav class="tabs" data-group="primary">
    <a class="" data-tab="description">DESCRIPTION</a>
    <a class="" data-tab="details">DETAILS</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="content">
    {{!-- Inventory Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-description.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="details">
      <section class="">
        Price: <input data.price.market="price-market" class="" type="text" value="{{data.price.market}}"
          placeholder="50">
        <div><label for="head">Head Armor<input type="checkbox" id="head" name="head"></label></div>
        <div><label for="body">Body Armor<input type="checkbox" id="body" name="body"></label></div>
        <div><label for="sp">SP<input type="text" id="sp" name="sp"> </label></div>
        <div><label for="armorpen">Armor Penalty<input type="text" id="armorpen" name="armorpen"></label></div>
      </section>
    </div>
  </section>