<form>
  {{!-- Item Header Navigation --}}
  {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-header.hbs"}}
  {{!-- Item Sheet Navigation --}}
  <nav class="tabs" data-group="primary">
    <a class="" data-tab="description">DESCRIPTION</a>
    <a class="" data-tab="details">DETAILS</a>
  </nav>
  {{!-- Item Sheet Body --}}
  <section class="content">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/cyberpunk-red-core/templates/item/parts/cpr-description.hbs"}}
    </div>
    {{!-- Details Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      <section class="">
        {{!-- MARKET PRICE --}}
        <div>
          Price: <input name="data.price.market" class="" type="text" value="{{data.price.market}}" placeholder="100">
        </div>
      </section>
    </div>
  </section>
</form>