/* Roll Template */
.cpr-roll-title {
    font-size: 1.5em;
    border-bottom: 2px solid var(--cpr-red-color);
  }
    
  .cpr-roll-flavor {
    font-size: .8em;
    font-style: italic;
  }
  
  .cpr-roll-details {
    font-size: var(--cpr-default-text-size);
  }
  
  .cpr-roll-roll {
    font-size: var(--cpr-default-text-size);
  }
  
  .cpr-roll-tags {
    display: none;
    font-size: var(--cpr-default-text-size);
  }
  
  .cpr-roll-showtagscheck:checked + .cpr-roll-tags {
    display: block;
  }
  
  .cpr-roll-showtagscheck {
    display: none;
  }
  
  .cpr-roll-showtagslink {
    font-size: .5em;
  }

  /* Rolls */
.dice-roll .dice-formula {
    background: #FFFFFF;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }
  .dice-roll .dice-total {
    background: #FFAAAA;
    display: inline-block;
    font-size: var(--cpr-default-text-size);
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
  }
  .dice-roll .dice-tooltip {
    background: #FFFFAA;
    padding-left: 10px;
    padding-right: 10px;
  }