{{cprTrace "CPR-ITEMUPGRADE.HBS"}}
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.itemUpgrade.upgradeType"}}:</span>
    <span class="summary-value">{{localize (cprFindConfigValue "objectTypes" item.system.type)}}</span>
</div>
{{cprTrace "END CPR-ITEMUPGRADE.HBS"}}
