{{cprTrace "CPR-AMMO.HBS"}}
<div class="item-summary-line">
    <span class="summary-name">{{localize (cprFindConfigValue "ammoType" data.data.type)}} {{localize (cprFindConfigValue "ammoVariety" data.data.variety)}}</span>
</div>
<hr>
{{cprTrace "END CPR-AMMO.HBS"}}
