{{cprTrace "CPR-ROLE.HBS"}}
<div class="item-summary-line">
    <span class="text-bold summary-name">{{localize "CPR.itemSheet.role.rank"}}:</span>
    <span class="summary-value">{{item.system.rank}}</span>
</div>
{{cprTrace "END CPR-ROLE.HBS"}}
