{{cprTrace "CPR-CLOTHING.HBS"}}
<div class="item-summary-line">
    <span class="summary-name">{{localize (cprFindConfigValue "clothingStyle" data.data.style)}}</span>
</div>
<div class="item-summary-line">
    <span class="summary-name">{{localize (cprFindConfigValue "clothingType" data.data.type)}}</span>
</div>
{{cprTrace "END CPR-CLOTHING.HBS"}}
